
<h1>Friends</h1>

<div id="friends" class="row">
  <% @friends.each do |friend| %>
    <div class="col-4 mb-2">
      <%= render friend %>
    </div>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
