<h1>
Our Story
</h1>

<h3>
  The Journey, continued

</h3>
<p>
  As unpleasant as this all sounds, I find this next piece uplifting. The long process of transforming discarded flesh into a beautifully tanned hide. The journey of the hide is analogous to winemaking in many ways. If you’ve ever spent an afternoon in Napa Valley you’re familiar with terms like “terroir” and “tannins”. Leather is like this in that there are hundreds of variables from hide origins to tanning, tumbling, and finishing that end up in a final product that is completely unique (editors note: don’t take a date to a tannery). No two hides are the same and each batch has some variance in characteristics making your bag truly one of a kind.

From the tannery, we find our finished hides which are ready to be inspected, cut and sewn. This is a process we take great pride in and I’m humbled to see the work roll out from our artisans every day.

When I look at the bags that people carry around airports and cities, they are usually nylon or a pressed leather with not much character to it. But occasionally you’ll see something haggard and beautiful that has endured years of coffee stains, run-ins with rouge doors and leaky pens. This sets my imagination adrift. This is a bag, or rather a person with some stories to tell. And though buying some bag doesn’t automatically imbue life with good stories, perhaps it can be a humble reminder to make some.

-Ryan Barr, Founder
</p>